.card-overview2 {
	width: 960px;
	border-radius: 8px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
	margin: 0 auto;
	padding: 22px 0px 15px 30px;
	margin-bottom: 18px;
}
.card-overview {
	height: 185px;
	width: 960px;
	border-radius: 8px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.section-head {
	height: 28px;
	width: 472px;
	color: #2a2e36;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 28px;
}

.date {
	height: 20px;
	width: 83px;
	color: #989ca6;
	font-family: "Open Sans";
	font-size: 14px;
	letter-spacing: 0;
	line-height: 20px;
	margin-top: 15px;
    margin-bottom: 15px;
}
.presentation-shared {
	height: 24px;
	width: 397px;
	color: #2a2e36;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 24px;
	margin-bottom: 9px;
}

.time-spent {
	height: 20px;
	/* width: 170px; */
	color: #606369;
	font-family: "Open Sans";
	font-size: 13px;
	letter-spacing: 0;
	line-height: 20px;
	margin-top: 4px;
	margin-bottom: 5px;
	font-weight: bold;
}
.lightFont {
	height: 20px;
	/* width: 170px; */
	color: #606369;
	font-family: "Open Sans";
	font-size: 12px;
	letter-spacing: 0;
	line-height: 20px;
	margin-top: 4px;
    margin-bottom: 5px;

}
.ppt-card2 {
	height: auto;
	width: 960px;
	border-radius: 8px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
	margin: 0 auto;
	padding-left: 30px;
	padding-top: 16px;
}

.ppt-card {
	height: 674px;
	width: 960px;
	border-radius: 8px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.overview-card {
	height: 64px;
	width: 400px;
	display: inline-block;
	margin-bottom: 20px;
}
.overview-body {
	text-align: center;
}
.overview-box {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
	border-radius: 8px;
}
.overview-number {
	height: 64px;
	width: 53px;
	color: #fba409;
	font-family: Roboto;
	font-size: 46px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 64px;
	display: inline;
}
.overview-text {
	display: inline;
	height: 24px;
	width: 314px;
	color: #2a2e36;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 24px;
	margin-left: 10px;
}

.divider {
	height: 1px;
	width: 95%;
	background-color: #dddddd;
}

.divider-title-below {
	height: 24px;
	width: 291px;
	color: #2a2e36;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 24px;
	margin-bottom: 50px;
	margin-top: 10px;
}

.presentation {
	height: 59px;
	width: 347px;
	display: inline-block;
}

.slide-card-left {
	float: left;
	position: relative;
}

.slide-card-right {
	float: right;
}

.slide-image {
	height: 59.27px;
	width: 105px;
	background: #ccc;
	border: 1px solid #aaa;
}
.slide-count {
	height: 19px;
	width: 50px;
	display: inherit;
	border: 1px solid;
	position: absolute;
	bottom: 1px;
	background: #ccc;
	color: white;
	left: 1px;
	font-size: 11px;
}

.slide-card-title {
	height: 20px;
	width: 231px;
	color: #2a2e36;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 20px;
	text-align: left;
}
.slide-card-subtitle {
	height: 16px;
	width: 91px;
	color: #606369;
	font-family: "Open Sans";
	font-size: 12px;
	letter-spacing: 0;
	line-height: 16px;
}

.insight-table-title {
	height: 24px;
	color: #2a2e36;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 24px;
	margin: 30px;
}
.insight-table-subtitle {
	height: 16px;
	width: 160px;
	color: #606369;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 16px;
	margin: 30px;
	text-transform: uppercase;
}
.table-data {
	margin: 30px;
}

.insight-divider {
	height: 32px;
	width: 100%;
	text-align: center;
	position: relative;
}

.insight-text-content {
	position: absolute;
	z-index: 2;
	height: 32px;
	width: 135px;
	background-color: #4d7cc7;
	color: white;
	text-align: center;
	margin-top: -18px;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 20px;
	height: 33px;
	/* border-radius: 4px; */
	padding: 5px;
	border-radius: 4px 0 0 4px;
}

.insight-text-user {
	position: absolute;
	z-index: 2;
	height: 32px;
	width: 135px;
	background-color: #fff;
	color: white;
	text-align: center;
	margin-top: -18px;
	color: #989ca6;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 20px;
	height: 33px;
	/* border-radius: 4px; */
	padding: 5px;
	left: calc(50% + 77px);
	border-radius: 0px 4px 4px 0px;
}

.admin-section {
	padding: 30px;
	padding-left: 70px;
	padding-right: 70px;
}

.slide {
	border: lightgrey;
	border-width: 1px;
	border-style: ridge;
	height: 110px;
	width: 180px;
	padding: 5px;
	/* margin: 20px 0px 0px 20px; */
}

.highlights {
	background-color: papayawhip;
	height: 100px;
	width: 85%;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.progress {
	height: 4px;
	margin-bottom: 12px !important;
}
.bio-up{
}

.bio-right{
	margin-left: 20px;
}
.bio {
	display: inline-block;
	margin-top: 20px;
}

.oppor {
	height: 16px;
	width: 148px;
	color: #989ca6;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 16px;
	text-transform: uppercase;;
}

.highlight-point {	
    font-weight: bold;
	font-family: unset;
	padding: 12px 0px 0px 20px;
	font-size: 12px;
}

.time-spent-detail {
    color: grey;
    font-weight: lighter;
	font-size: 12px;
}

.mainTable {
	margin-top: 20px;
}

.dropdown {
    float: right;
    margin-right: 35px;
}

.dropdown-item {
	cursor: pointer;
	margin: 1px 3px;
}

.dropdown-item:hover {
	color: white;
	background-color: #5cb85c;
}

a.dropdown-item  {
	color: black;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}