<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Countries</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <style>
      html,
      body, div {
        font-family: 'Open Sans';
      }
      *,
      *:after,
      *:before {
        box-sizing: border-box;
      }
    </style>
    <link href="https://adminlte.io/themes/AdminLTE/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />

  </head>

  <body>
    <main class="content-wrapper" style="margin-left:0px">
      <div id="root"></div>
      <div id="container" style="width:100%; height:400px;"></div>
    </main>
    <script src="https://code.highcharts.com/highcharts.js"></script>
  </body>
</html>